<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sandbox.css">
</head>
<body>
    <header>
        <div class="container">
            <nav class="navigation">
            <div class="logo">
                <img src="logo.png" alt="">
            </div>
            <div>
                <ul class="navitems">
                    <li><a href="">Docs</a><i class="fa-solid fa-angle-down"></i></li>
                    <li><a href="">Blog</a><i class="fa-solid fa-angle-down"></i></li>
                    <li><a href="">Blocks</a><i class="fa-solid fa-angle-down"></i></li>
                    <li><a href="">login</a><i class="fa-solid fa-angle-down"></i></li>
                    <li><a href="">Register</a><i class="fa-solid fa-angle-down"></i></li>
                    <li><a href="">node</a><i class="fa-solid fa-angle-down"></i></li>
                </ul>
            </div>
            <div class="icons">
                <div>

                </div>
            </div>
        </nav>
        </div>
    </header>
</body>
</html>