.text-align{
    text-align: left;
    text-align: center;
    text-align: right;
    text-align: justify;
}
.text-transform {
    text-transform: capitalize;
    text-transform: lowercase;
    text-transform: uppercase;
    text-transform: none;
}
.text-decoration{
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration: dashed underline red ;
    /* text-decoration: wavy overline red ; */
    /* text-underline-offset: 40px; */
    /* text-decoration-thickness: 10px; */
}
.shadow{
    text-shadow: 10px 10px 1px grey;
}

.font-style{
    font-style: italic;
    font-style: oblique;
    font-style: normal;
}

.line-height{
    line-height: 20px;
    letter-spacing: 10px;
    white-space: 100px;
    white-space: pre;
    white-space: nowrap;
    white-space: wrap;
}
.maindiv{
    text-align: center;
    margin-inline-start: auto;
    display: block;
}
.img{
    margin-inline-start: auto;
    display: block;
}