.container1{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    /* background-color: aquamarine; */
    /* padding: 10px; */
}
.box{
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}

.box-1{
    height: 500px;
    width: 500px;
    background-image: url("./image.png");
    object-fit: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-2{
    padding: 20px;
    height: 200px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    backdrop-filter: blur(20px);
}

.container{
    width: 1500px;
    height: 700px;
    margin: auto;
    border: 1px solid black;
}
.grid > div {
    display: grid;
    place-items: center; /* Vertical & Horizontal Center */
}
.grid{
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    background-color: grey;
    grid-template-rows:100px 200px 200px 100px;
    text-align: center;
    gap: 20px;
}
.box1{
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: orange;
    
}
.box2{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: aquamarine;
    
}
.box3{
    grid-column-start: 3;
    grid-column-end: 7;
    background-color: chartreuse;
}
.box4{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: blue;
}
.box5{
    grid-column-start: 5;
    grid-column-end: 7;
    background-color: brown ;
}
.box6{
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: rgb(11, 102, 109);
}